- @palas = palas.find(params[:palas_id])
.show
  .show-col-1
    %img{:src=>"#{@palas.enlace_imagen}"}
    %br
    - @follow_show = FollowShow.where(user_id: current_user.id, palas_id: @palas.id)
    %form{:class=>"seguimiento-form",:method=>"post",:action=>"/palas/#{@palas.id}/follow_shows",:id=>"new_follow_show"}
      = hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token)
      %input{:type=>"hidden",:name=>"url_volver",:value=>request.fullpath}
      %input{:type=>"hidden",:name=>"follow_show[user_id]",:value=>current_user.id}
      %input{:type=>"hidden",:name=>"follow_show[palas_id]",:value=>@palas.id}
      - if @follow_show.count == 0
        %input{:type=>"submit",:class=>"btn top-20 btn-danger",:value=>"Seguir esta pala"}
      - else
        %input{:type=>"submit",:class=>"btn top-20 btn-success",:value=>"Dejar de seguir"}
  .show-col-2
    .show-titulo
      = @palas.nombre
    .show-menu
    %ul{:class=>"nav nav-tabs",:id=>"myTab"}
      %li
        %a{:href=>"/palas/#{@palas.id}"} Información
      %li{:class=>"active"}
        %a{:href=>"#episodios","data-toggle"=>"tab"} Episodios
      %li
        %a{:href=>"/palas/#{@palas.id}/comments"} Comentarios

    #myTabContent{:class=>"tab-content"}
      #episodios{:class=>"tab-pane fade in active"}
        .show-info
          .media Lista de episodios
          .show-info-tabla
            %table.tabla-episodios.table
              - @palas.episodes.each do |episode|
                %tr
                  %td.numeros_palas
                    = episode.numero_temporada
                    x
                    = '%02d' % episode.numero_episodio
                  %td.nombre_palas
                    %a{:href=>"/palas/#{@palas.id}/episodes/#{episode.id}/links"} 
                      =episode.nombre
          .show-sinopsis
            .media Agregar episodio
            %p
              = form_for ([@palas, @palas.episodes.build]) do |f|
                %table
                  %tr
                    %th
                      #campo2.field
                        = f.label :numero_temporada
                    %th
                      #campo3.field
                        = f.label :numero_episodio
                    %th
                      #campo1.field
                        = f.label :nombre
                  %tr
                    %td
                      = f.number_field :numero_temporada
                    %td              
                      = f.number_field :numero_episodio
                    %td.i-width-300
                      = f.text_field :nombre
                #enviar.actions.top-20
                  = f.submit



  .show-col-3
    Col3
